<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329308170158-fsj5bvl760d3f921u07sl97h2jj200it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329308170158-fsj5bvl760d3f921u07sl97h2jj200it</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329308170158-u3a3q96qk92e2tb8lhcfd0u8k1hm979r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBz0sT7jBaCg7E0MezgJ6jgYgi7nUnESVY</string>
	<key>GCM_SENDER_ID</key>
	<string>329308170158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maymunaAdminPanel.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>maymuna-collection</string>
	<key>STORAGE_BUCKET</key>
	<string>maymuna-collection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329308170158:ios:a0c73f5943cda8724f4a3f</string>
</dict>
</plist>